*.o
ex.pmsg_seqnum_cl
ex.pmsg_seqnum_sv
mq_notify_sig
mq_notify_sigwaitinfo
mq_notify_thread
mq_notify_via_signal
mq_notify_via_thread
pmsg_create
pmsg_create_simple
pmsg_getattr
pmsg_receive
pmsg_send
pmsg_unlink
