*.o
ex.is_shell_cl
ex.is_shell_sv
ex.ud_seqnum_cl
ex.ud_seqnum_sv
i6d_ucase_cl
i6d_ucase_sv
id_echo_cl
id_echo_sv
is_echo_cl
is_echo_inetd_sv
is_echo_sv
is_echo_v2_sv
is_seqnum_cl
is_seqnum_sv
is_seqnum_v2_cl
is_seqnum_v2_sv
list_host_addresses
raw_receive_ip
raw_send_ip
raw_send_tcp
raw_send_udp
scm_cred_recv
scm_cred_send
scm_multi_recv
scm_multi_send
scm_rights_recv
scm_rights_send
socknames
t_getaddrinfo
t_gethostbyname
t_getservbyname
ud_ucase_cl
ud_ucase_sv
us_abstract_bind
us_seqnum_single_cl
us_seqnum_single_sv
us_xfr_cl
us_xfr_sv
us_xfr_v2_cl
us_xfr_v2_sv
