*.o
acct_on
acct_v3_view
acct_view
child_status
closeonexec
demo_clone
envargs
ex.exec_cnt
ex.fork_var_test
ex.inherit_alarm
ex.make_link
ex.nohup
ex.simple_shell
ex.zombie_parent
exec_status
exit_handlers
footprint
fork_file_sharing
fork_sig_sync
fork_stdio_buf
fork_stdio_buf_simple
fork_whos_on_first
make_zombie
multi_SIGCHLD
multi_wait
orphan
pdeath_signal
simple_atexit
simple_on_exit
t_clone
t_execl
t_execle
t_execlp
t_execve
t_fork
t_system
t_system_v2
t_vfork
vfork_fd_test
zombie
