*.o
cred_launcher
demo_userns
demo_uts_namespaces
ex.pidns_reparent
ex.userns_cap_sig_expt
hostname
make_orphans
multi_pidns
ns_capable
ns_child_exec
ns_exec
ns_exec_map
ns_run
orphan
pidns_init_sleep
ppid
show_creds
simple_init
t_setns_userns
unshare
userns_child_exec
userns_setns_test
